body {
    background: #2f3145;
  }
  
  .displayBlock {
    display: flex;
    margin: 0 10px;
    padding: 10px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: #1e1e2e;
    color: #a69191;
}
  
.h1 {
    text-align: center;
    color: #4aa9a7;
}
  
.listedInterns {
    width: 29%;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    padding: 10px;
}
  
.sc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.internBlock {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-top: 1px solid rgba(148, 91, 91, 0.877);
    border-bottom: 2px solid black;
    cursor: pointer;
    transition: 400ms;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #898962;
}
  
  
.internBlock:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #00c2dc98;
    color: black;
    border-bottom: 2px solid black;
}
  
.internsDisplay {
    width: 85%;
}
  
.lookupIntern {
    padding: 10px;
    background: #6469a3;
    margin: 10px 0 10px 0;
    font-size: 15px;
    color: #868686;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: 400ms;
  }
  
  .lookupIntern:hover {
    color: #b1b1b1;
    background: #414892;
  }